<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	
	<!-- head -->
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
	
		<!-- Encabezado -->
		<header data-th-replace="~{/layouts/header :: header}"></header>
			
		<!-- Barra de Navegación (nav) -->
		<nav data-th-replace="~{/layouts/navbar :: navbar}"></nav>
		
		
		
		<!-- Pie de Página (footer) -->
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		
		<!-- Bootstrap JavaScript -->
		<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>